/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=EB+Garamond:wght@300;400&family=Playfair+Display:ital,wght@0,400;0,900;1,900&display=swap');

body{
    padding: 0;
    margin: 0;
    background-color: #F7F5EB;
}

.left{
    float: left;
}

.right{
    float: right;
}

/* Header */
header{
    vertical-align: middle;
    padding: 1.567rem 10vw;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    box-sizing: border-box;
    background-color: #F7F5EB;
    z-index: 100;
    color: black;
    transition: 0.4s all;
}

header *{
    line-height: 1.5rem;
}

header .left{
    font-size: 1.5rem;
    font-family: 'EB Garamond', serif;
    font-weight: 600;
}

header .right a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 0.9rem;
    margin-left: 10px;
    text-decoration: none;
    color: black;
    transition: 0.2s all;
}

header .right a:hover{
    color: #663399;
}

.scrolled{
    background-color: black;
    color: #F7F5EB;
}

.scrolled .right a{
    color: #F7F5EB;
}

/* About */

#about, #work{
    padding-left: 15vw;
    padding-right: 15vw;
}

#about{
    height: 50vh;
    width: 50vw;
    box-sizing: border-box;
    position: relative;
}

#about .content{
    box-sizing: border-box;
    width: 400px;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
}

#about h1{
    font-family: 'EB Garamond', serif;
    font-weight: 900;
    font-size: 3rem;
    letter-spacing: 2px;
    margin-bottom: 10px;
    overflow: hidden;
    white-space: nowrap;
}

#about p{
    margin-top: 10px;
    font-family: 'EB Garamond';
    font-size: 1.5rem;
    font-weight: 400;
}

/* Films */
#work{
    background-color: black;
    width: 100vw;
    min-height: 100vh;
    padding-top: 20vh;
    padding-bottom: 20vh;
    box-sizing: border-box;
    color: #F7F5EB;
    margin-bottom: -1px;
}

#work h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

#work h2 span{
    letter-spacing: 3px;
    margin-right: 10px;
}

#work .flex{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

#work .item{
    flex-basis: 48%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

#work .item img{
    transition: transform .5s ease;
    height: 100%;
    width: 100%;
    z-index: 30;
}

#work .item:hover img, #work .item:focus img{
    transform: scale(1.05);
    filter: brightness(0.65);
}

#work .item:hover .overlay-text, 
#work .item:focus .overlay-text{
    display: block;
}

#work .item a{
    position: absolute;
    z-index: 86;
    width: 100%;
    height: 100%;
}

#work .item .overlay-text{
    position: absolute;
    width: 85%;
    text-align: center;
    font-family: 'Playfair Display';
    font-weight: 400;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 85;
    font-size: 1.5rem;
    display: none;
    transition: all .5s ease;
    
}

/* Footer */

footer{
    background-color: black;
    text-align: center;
    color: #F7F5EB;
    padding-bottom: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 0.9rem;
    border-bottom: 10px solid black;
}

/* Responsiveness */
@media screen and (max-width: 740px){
    #work .item{
        flex-basis: 100%;
    }
}

@media screen and (max-width: 600px){
    #about, #work{
        padding-left: 10vw;
        padding-right: 10vw;
    }

    #about .content{
        width: 80vw;
    }

    #about h1{
        font-size: 8.5vw;
    }

    #about p{
        font-size: 1.3rem;
    }
}

@media screen and (max-height: 540px){
    #about{
        min-height: 100vh;
        padding-top: 20vh;
        padding-bottom: 20vh;
        height: auto;
    }

    #about .content{
        top: 0;
        position: relative;
        transform: none;
    }
}
